@model AuthorDetail
@{
  ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

<h1>Delete @Model.FirstName @Model.LastName</h1>
<h2>Are you sure you want to delete @(Model.FirstName + " " + Model.LastName)?</h2>
<hr>

<div style = "float: left; margin-right: 10px">
  <img src = "@Model.ImageLink" height="300">
</div>

<dl class = "row">
  <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.FirstName)
  </dt>
  <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.FirstName)
  </dd>
</dl>
<dl class = "row">
  <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.LastName)
  </dt>
  <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.LastName)
  </dd>
</dl>
<dl class = "row">
  <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.DateOfBirth)
  </dt>
  <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.DateOfBirth)
  </dd>
</dl>

<form asp-action="Delete" class="d-flex justify-content-between align-items-baseline">
    <a asp-action="Index">Back to List</a>
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>