@model IEnumerable<SeriesListItem>

@{
  ViewData["Title"] = "Series";
}

<h1>Series</h1>
<p>
  <a asp-action="Create">Create Series</a>
</p>


@foreach (var item in Model)
{
  <div class = "item-tile">
  <img src="@item.ImageLink">
  <h3>@item.Title</h3>
  
  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
  <span>|</span>
  <a asp-action="Details" asp-route-id="@item.Id">Details</a>
  <span>|</span>
  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
  </div>
}