@model IEnumerable<BookListItem>

@{
  ViewData["Title"] = "Books";
}

<h1>Books</h1>
<p>
    These are all of the manga books which currently exist in our library. 
    Click on the book image to see more details about it.
    Don't see the one you're looking for? Click the red button below to add it!
  </p>
<div class ="button box-shadow">
  <a asp-action="Create" class="no-decoration">Create Book</a>
</div>

<div class="content-container">
  <ul class="inline-block">
    @foreach (var item in Model)
    {
      <li class="book-tile no-decoration no-style inline-block box-shadow">
        <div class="center">
          <a asp-action="Details" asp-route-id="@item.Id">
          <img src="@item.ImageLink">
        </a>

        <h3>@item.Series</h3>
        <h4>Volume @item.Volume</h4>

        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <span>|</span>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
      </li>
    }
  </ul>
</div>
